[submodule "fig-11-gaming/decaf"]
	path = gaming/decaf
	url = https://github.com/hendrikcech/decaf.git
	branch = webconf-2024
[submodule "fig-10-zoom/zoom-analysis"]
	path = zoom/zoom-analysis
	url = git@github.com:hendrikcech/zoom-analysis.git
